{% extends 'base.html' %}

{% block title %}Create Campaign | ScanKart AI{% endblock %}

{% block content %}


<body class="nk-body bg-lighter npc-general has-sidebar ">
    <div class="nk-app-root">
        <div class="nk-main ">
            <div class="nk-sidebar nk-sidebar-fixed is-dark " data-content="sidebarMenu">
                <div class="nk-sidebar-element nk-sidebar-head">
                    <div class="nk-menu-trigger"><a href="#" class="nk-nav-toggle nk-quick-nav-icon d-xl-none"
                            data-target="sidebarMenu"><em class="icon ni ni-arrow-left"></em></a><a href="#"
                            class="nk-nav-compact nk-quick-nav-icon d-none d-xl-inline-flex"
                            data-target="sidebarMenu"><em class="icon ni ni-menu"></em></a></div>
                    <div class="nk-sidebar-brand"><a href="index.html" class="logo-link nk-sidebar-logo"><img
                                class="logo-light logo-img" src="images/logo.png" srcset="/demo1/images/logo2x.png 2x"
                                alt="logo"><img class="logo-dark logo-img" src="images/logo-dark.png"
                                srcset="/demo1/images/logo-dark2x.png 2x" alt="logo-dark"></a></div>
                </div>
                <div class="nk-sidebar-element nk-sidebar-body">
                    <div class="nk-sidebar-content">
                        <div class="nk-sidebar-menu" data-simplebar>
                            <ul class="nk-menu">

                                <li class="nk-menu-heading">
                                    <h6 class="overline-title text-primary-alt">Dashboards</h6>
                                </li>
                                <li class="nk-menu-item"><a href="index.html" class="nk-menu-link"><span
                                            class="nk-menu-icon"><em class="icon ni ni-dashlite"></em></span><span
                                            class="nk-menu-text">WP Campaign Dashboard</span></a></li>


                            </ul>


                        </div>
                    </div>
                </div>
            </div>
            <div class="nk-wrap ">
                <div class="nk-header nk-header-fixed is-light">
                    <div class="container-fluid">
                        <div class="nk-header-wrap">
                            <div class="nk-menu-trigger d-xl-none ms-n1"><a href="#"
                                    class="nk-nav-toggle nk-quick-nav-icon" data-target="sidebarMenu"><em
                                        class="icon ni ni-menu"></em></a></div>
                            <div class="nk-header-brand d-xl-none"><a href="index.html" class="logo-link"><img
                                        class="logo-light logo-img" src="images/logo.png"
                                        srcset="/demo1/images/logo2x.png 2x" alt="logo"><img class="logo-dark logo-img"
                                        src="images/logo-dark.png" srcset="/demo1/images/logo-dark2x.png 2x"
                                        alt="logo-dark"></a></div>
                            <div class="nk-header-news d-none d-xl-block">
                                <div class="nk-news-list"><a class="nk-news-item" href="#">
                                        <div class="nk-news-icon"><em class="icon ni ni-card-view"></em></div>
                                        <div class="nk-news-text">
                                            <p>WP Campaign Messages</span></p><em class="icon ni ni-external"></em>
                                        </div>
                                    </a></div>
                            </div>
                            <div class="nk-header-tools">
                                <ul class="nk-quick-nav">
                                    <li class="dropdown user-dropdown"><a href="#" class="dropdown-toggle"
                                            data-bs-toggle="dropdown">
                                            <div class="user-toggle">
                                                <div class="user-avatar sm"><em class="icon ni ni-user-alt"></em></div>
                                                <div class="user-info d-none d-md-block">
                                                    <!-- <div class="user-status">Administrator</div> -->
                                                    <div class="user-name dropdown-indicator">ScanKart </div>
                                                </div>
                                            </div>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-md dropdown-menu-end dropdown-menu-s1">
                                            <div class="dropdown-inner user-card-wrap bg-lighter d-none d-md-block">
                                                <div class="user-card">
                                                    <div class="user-avatar"><span>SC</span></div>
                                                    <div class="user-info"><span class="lead-text">ScanKart </span><span
                                                            class="sub-text"></span></div>
                                                </div>
                                            </div>
                                            <!-- <div class="dropdown-inner">
                                                <ul class="link-list">
                                                    <li><a href="user-profile-regular.html"><em
                                                                class="icon ni ni-user-alt"></em><span>View
                                                                Profile</span></a></li>
                                                    <li><a href="user-profile-setting.html"><em
                                                                class="icon ni ni-setting-alt"></em><span>Account
                                                                Setting</span></a></li>
                                                    <li><a href="user-profile-activity.html"><em
                                                                class="icon ni ni-activity-alt"></em><span>Login
                                                                Activity</span></a></li>
                                                </ul>
                                            </div> -->
                                            <div class="dropdown-inner">
                                                <ul class="link-list">
                                                    <li><a id="dashSignout" href="#"><em
                                                                class="icon ni ni-signout"></em><span>Sign
                                                                out</span></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="nk-content ">
                    <div class="container-fluid">
                        <div class="nk-content-inner">
                            <div class="nk-content-body">
                                <div class="nk-block-head nk-block-head-sm">
                                    <div class="nk-block-between">
                                        <div class="nk-block-head-content">
                                            <h3 class="nk-block-title page-title">Create Campaign</h3>
                                            <div class="nk-block-des text-soft">
                                                <p></p>
                                            </div>
                                        </div>
                                        <div class="nk-block-head-content">
                                            <div class="toggle-wrap nk-block-tools-toggle"><a href="#"
                                                    class="btn btn-icon btn-trigger toggle-expand me-n1"
                                                    data-target="pageMenu"><em class="icon ni ni-menu-alt-r"></em></a>
                                                <div class="toggle-expand-content" data-content="pageMenu">

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="nk-block">


                                    <div class="row g-gs">


                                        <div class="col-md-6 col-xxl-4">



                                            <div class="card card-bordered card-full"
                                                style="height: 300px; overflow-y: auto;">
                                                <div class="card-inner border-bottom">
                                                    <div class="card-title-group">
                                                        <div class="card-title">
                                                            <h6 class="title">Select Contacts</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="class=" nk-msg-list" data-simplebar="init"">
                                                    <table class=" nk-tb-list nk-tb-ulist">
                                                    <thead>
                                                        <tr class="nk-tb-item nk-tb-head">
                                                            <th class="nk-tb-col nk-tb-col-check">
                                                                <div
                                                                    class="custom-control custom-control-sm custom-checkbox notext">
                                                                    <input type="checkbox" class="custom-control-input"
                                                                        id="pid-all">
                                                                    <label class="custom-control-label"
                                                                        for="pid-all"></label>
                                                                </div>
                                                            </th>
                                                            <th class="nk-tb-col"><span class="sub-text">Customer
                                                                    Name</span></th>
                                                            <th class="nk-tb-col tb-col-lg"><span
                                                                    class="sub-text">Number</span></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="contacts-table">
                                                        <!-- Table content goes here -->
                                                    </tbody>
                                                    </table>
                                                </div>

                                            </div>



                                        </div>
                                        <div class="col-md-6 col-xxl-4">
                                            <div class="card card-bordered h-100">
                                                <div class="card-inner">
                                                    <div class="card-head">
                                                    </div>
                                                    <form >
                                                        <div class="form-group"><label class="form-label"
                                                                for="campaign-name">Campaign Name</label>
                                                            <div class="form-control-wrap">
                                                                <div class="form-icon form-icon-left"><em
                                                                        class="icon ni ni-hot-fill"></em></div><input
                                                                    type="text" class="form-control" id="campaign-name">
                                                            </div>
                                                        </div>
                                                        <div class="form-group"><label id="selectedContacts" class="form-label"
                                                                for="campaign-type"> </label>
                                                           
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="form-label" for="campaign-message">Message to Send</label>
                                                            <div class="form-control-wrap">
                                                                <div class="form-icon form-icon-left">
                                                                    <em class="icon ni ni-hot-fill"></em>
                                                                </div>
                                                                <textarea rows="5" class="form-control" id="campaign-message"></textarea>
                                                            </div>
                                                        </div>
                                                        

                                                        <!-- <div class="form-group"><label class="form-label">Select
                                                                Date</label>
                                                            <div class="form-control-wrap">
                                                                <div class="form-icon form-icon-left"><em
                                                                        class="icon ni ni-calendar"></em></div><input
                                                                    type="text" id="campaign-date" class="form-control date-picker"
                                                                    data-date-format="yyyy-mm-dd">
                                                            </div>
                                                          
                                                        </div>

                                                        <div class="form-group"><label class="form-label">Select
                                                                Time</label>
                                                            <div class="form-control-wrap has-timepicker focused">
                                                                <div class="form-icon form-icon-left"><em
                                                                        class="icon ni ni-clock"></em></div><input
                                                                    type="text" class="form-control time-picker"
                                                                    placeholder="Input placeholder">
                                                            </div>
                                                        </div> -->
                                                        

                                                        <div class="form-group"><button type="submit"
                                                            id="saveCampaignBtn"    class="btn btn-lg btn-primary">Send Messages</button></div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>

                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="nk-footer">
                    <div class="container-fluid">
                        <div class="nk-footer-wrap">
                            <div class="nk-footer-copyright"> &copy; 2023 ScanKart AI</div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <div class="pmo-lv pmo-dark"><a class="pmo-close" href="#"><em class="ni ni-cross"></em></a><a class="pmo-wrap"
            target="_blank" href="https://softnio.com/get-early-access/">
            <div class="pmo-text text-white">Looking for functional script for Investment Platform? Check out <em
                    class="ni ni-arrow-long-right"></em></div>
        </a></div><a class="pmo-st pmo-dark" target="_blank" href="https://softnio.com/get-early-access/">
        <div class="pmo-st-img"><img src="../images/landing/promo-investorm.png" alt="Investorm"></div>
        <div class="pmo-st-text">Looking for Advanced <br> Investment Platform?</div>
    </a>
    <script src="{{ url_for('static', filename='js/bundlee5ca.js') }}?ver=3.2.3"></script>
    <script src="{{ url_for('static', filename='js/scriptse5ca.js') }}?ver=3.2.3"></script>
    <script src="{{ url_for('static', filename='js/demo-settingse5ca.js') }}?ver=3.2.3"></script>
    <script src="{{ url_for('static', filename='js/custom/campaign.js') }}"></script>

</body>

</html>




{% endblock %}