{% extends 'base.html' %}

{% block title %}SignUp | ScanKart AI{% endblock %}

{% block content %}


<body class="nk-body bg-white npc-general pg-auth">
    <div class="nk-app-root">
        <div class="nk-main ">
            <div class="nk-wrap nk-wrap-nosidebar">
                <div class="nk-content ">
                    <div class="nk-block nk-block-middle nk-auth-body wide-xs">
                        <div class="brand-logo pb-4 text-center"><a href="#" class="logo-link"><img
                                    class="logo-light logo-img logo-img-lg" src="../../images/logo.png"
                                    srcset="/demo1/images/logo2x.png 2x" alt="logo"><img
                                    class="logo-dark logo-img logo-img-lg" src="../../images/logo-dark.png"
                                    srcset="/demo1/images/logo-dark2x.png 2x" alt="logo-dark"></a></div>
                        <div class="card card-bordered">
                            <div class="card-inner card-inner-lg">
                                <div class="nk-block-head">
                                    <div class="nk-block-head-content">
                                        <h4 class="nk-block-title">Register</h4>
                                        <div class="nk-block-des">
                                            <p>Create New ScanKart Account</p>
                                        </div>
                                    </div>
                                </div>
                                <form >
                                    <div class="form-group"><label class="form-label" for="name">Name</label>
                                        <div class="form-control-wrap"><input id="signup-name" type="text"
                                                class="form-control form-control-lg" id="name"
                                                placeholder="Enter your name"></div>
                                    </div>
                                    <div class="form-group"><label class="form-label" for="email">Email or
                                            Username</label>
                                        <div class="form-control-wrap"><input id="signup-email" type="text"
                                                class="form-control form-control-lg" id="email"
                                                placeholder="Enter your email address or username"></div>
                                    </div>
                                    <div class="form-group"><label class="form-label" for="password">Password</label>
                                        <div class="form-control-wrap"><a href="#"
                                                class="form-icon form-icon-right passcode-switch lg"
                                                data-target="password"><em
                                                    class="passcode-icon icon-show icon ni ni-eye"></em><em
                                                    class="passcode-icon icon-hide icon ni ni-eye-off"></em></a><input
                                                id="signup-password" type="password" class="form-control form-control-lg" id="password"
                                                placeholder="Enter your password"></div>
                                    </div>
                                    
                                    <div class="form-group"><button
                                          id="signup-btn"  class="btn btn-lg btn-primary btn-block">Register</button></div>
                                </form>
                                <div class="form-note-s2 text-center pt-4"> Already have an account? <a
                                        href="/user/login"><strong>Sign in instead</strong></a></div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="nk-footer nk-auth-footer-full">
                        <div class="container wide-lg">
                            <div class="row g-3">
                                <div class="col-lg-6 order-lg-last">
                                    <ul class="nav nav-sm justify-content-center justify-content-lg-end">
                                        <li class="nav-item"><a class="link link-primary fw-normal py-2 px-3"
                                                href="#">Terms & Condition</a></li>
                                        <li class="nav-item"><a class="link link-primary fw-normal py-2 px-3"
                                                href="#">Privacy Policy</a></li>
                                        <li class="nav-item"><a class="link link-primary fw-normal py-2 px-3"
                                                href="#">Help</a></li>

                                    </ul>
                                </div>
                                <div class="col-lg-6">
                                    <div class="nk-block-content text-center text-lg-start">
                                        <p class="text-soft">&copy; 2023 ScanKart AI. All Rights Reserved.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/bundlee5ca.js') }}?ver=3.2.3"></script>
    <script src="{{ url_for('static', filename='js/scriptse5ca.js') }}?ver=3.2.3"></script>
    <script src="{{ url_for('static', filename='js/demo-settingse5ca.js') }}?ver=3.2.3"></script>
    <script src="{{ url_for('static', filename='js/custom/auth.js') }}?ver=3.2.3"></script>
</body>
</html> {% endblock %}